form{
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 1rem;
  width: 50%;
  border: 2px solid white;
  border-radius: 5px;
  background-color: rgb(128, 126, 125);
  box-shadow: 3px 5px 10px rgba(253, 252, 252, 0.548);
}

h1{
  color: azure;
  margin: 2rem;
}

input,select,textarea{
  margin: 1rem;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.548);
}

body{
  background-color: rgb(37, 35, 35);
}